
  .TodoBox-input{
      font-size: 1.2em;
      padding: 2px 4px 2px 4px;
      font-family: sans-serif;
  }
  .TodoBox-button{
    background-color: #dc4949;
    color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 8px 8px 5px 8px;
    font-size: 0.9em; 
  
  }